account_type: standard
auth_method: externalbrowser
snowflake:
  account: your_account
  user: your_user
  warehouse: COMPUTE_WH
  database: YOUR_DB
  schema: PUBLIC
keypair:
  private_key_path: /path/to/key.pk8
  private_key_passphrase: your_pass

